- name: Instalação e Execução dos Testes
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          record: true 
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          CYPRESS_email: ${{ secrets.ADOPET_EMAIL }}
          CYPRESS_senha: ${{ secrets.ADOPET_SENHA }}