name: Execução de Testes Cypress

on:
  push:
    branches: [ "main", "feat/*" ] 
  pull_request:
    branches: [ "main" ]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Instalação e Execução dos Testes
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          record: true 
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}